{
  "arrowParens": "avoid",
  "useTabs": true,
  "singleQuote": true,
  "tabWidth": 2,
  "importOrder": [
    "<THIRD_PARTY_MODULES",
    "^@/core/(.*)$",
    "^@/core/component/(.*)$",
    "^@/components/layout/(.*)$",
    "^@/components/screens/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/styles/(.*)$",
    "^@/config/(.*)$",
    "^@/services/(.*)$",
    "^@/store/(.*)$",
    "^@/api/(.*)$",
    "^.+\\.(template\\.html|module\\.scss)$",
    "^../(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
